/* Reset Css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#header{
    height: 46px;
    background-color: #000;
}

#header ul li{
    display: inline-block;
    position: relative;

}

#header ul li a{
    color: #fff;
    text-decoration: none;
    padding: 12px 24px;
    text-transform: uppercase;
    line-height: 46px;
}

#header ul li:hover{
    background-color:#ccc;
}

#header #nav .subnav-more {
    display: none;
    position: absolute;
    background-color: #fff;

}

#header #nav .subnav-more li {
    display: block;
}

#header #nav .subnav-more li a {
    color: #000;
    text-transform: capitalize;
}

#header #nav li:hover .subnav-more {
    display: block;
}

#header #nav {
    display: inline-block;
}

#header #header-search {
    float: right;
}

#header #header-search .search-icon {
    color: #fff;
    line-height: 46px;
    padding: 15px 24px;
    cursor: pointer;
}

#header #header-search .search-icon:hover {
    background-color: red;
}

#slider{

}

